body {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  body {
    margin: 0;
    display: flex;
    place-content: center;
    overflow: hidden;
  }
  #container {
    display: grid;
    margin-top: -5vh;
    place-content: center;
    height: 100vh;
    overflow: hidden;
  }
  #boxone {
    display: grid;
    width: 100vw;
  }

  #leftbox,
  #rightbox {
    display: none;
  }
  #midbox {
    height: 70.8vh;
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-rows: repeat(30, minmax(0, 1fr));
  }
  #midbox .itembox {
    grid-row: 1/11;
    grid-column: 1;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
  }
  #midbox .itembox .boxtwo {
    display: grid;
    grid-column: 1;
    grid-template-rows: 1fr 3.8fr;
    /* background-color: rgb(179, 179, 230); */
  }
  .boxtwo .rowblank {
    /* height: 20vw; */
    border: 0.5vw solid black;
    /* border-radius: 5px; */
    border-radius: 5px 0 0 5px;
    border-right: 0;
    margin-left: -0.4vw;
  }
  .boxtwo .items {
    display: grid;
    margin-top: -0.4vw;
    /* margin-left: -0.2vw; */
    grid-template-columns: 1fr 1.2fr 1.2fr 1.2fr;
    /* background-color: rgb(151, 132, 169); */
  }
  .boxtwo .items .item {
    margin-left: -0.3vw;
    display: grid;
    border-radius: 5px;
    grid-template-rows: repeat(14, minmax(0, 1fr));
  }
  #bottlebox .text {
    grid-row: 1/3;
  }
  #bottlebox .imgbox {
    grid-row: 3/15;
  }
  #winebox .text {
    grid-row: 1/5;
  }
  #winebox .imgbox {
    grid-row: 5/15;
  }
  #beerbox .text {
    grid-row: 1/7;
  }
  #beerbox .imgbox {
    grid-row: 7/15;
  }
  #sojubox .text {
    grid-row: 1/10;
  }
  #sojubox .imgbox {
    grid-row: 10/15;
  }
  .imgbox {
    display: grid;
    place-content: center;
    border: 0.5vw solid black;
    margin-top: -0.4vw;
    border-radius: 5px;
  }
  #bottlebox .imgbox img {
    margin-top: 1vw;
    height: 20vw;
    width: auto;
  }
  #winebox .imgbox img {
    height: 17.6vw;
    width: auto;
  }
  #beerbox .imgbox img {
    height: 14vw;
    width: auto;
  }
  #sojubox .imgbox img {
    margin-top: 1vw;
    height: 7vw;
    width: auto;
  }
  #midbox .itembox .items .item .text {
    border: 0.5vw solid black;
    /* margin-top: -0.2vw; */
    border-radius: 5px;
    display: grid;
    place-content: center;
    font-family: "NanumBarunpen";
    font-size: 5vw;
    background-color: #d9d9d9;
  }
  #beerbox .text div {
    margin-top: 8vw;
  }
  #sojubox .text div {
    margin-top: 16vw;
  }
  #midbox .textbox {
    background-color: #d9d9d9;
    grid-column: 2;
    border: 0.5vw solid black;
    border-radius: 5px;
    margin-left: -0.3vw;
    display: grid;
    place-content: end;
    justify-content: left;
  }
  .textbox div {
    font-size: 5vw;
    font-family: "Pretendard";
    font-weight: 500;
    margin-left: 4vw;
    margin-bottom: 2vw;
  }
  #title {
    grid-row: 11/23;
    display: grid;
    place-content: center;
    font-family: "양진체";
    margin-top: -2vh;
    font-size: 26vw;
    font-weight: 400;
  }
  #midbottom {
    margin-left: -0.4vw;
    grid-row: 23/31;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
  }
  .warn {
    border: 0.5vw solid black;
    border-radius: 5px;
    /* background-color: rgb(172, 219, 203); */
    font-size: 3.2vw;
    font-family: "Pretendard";
    font-weight: light;
    display: grid;
    place-content: center;
    text-align: center;
  }
  .confirmbox {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
  }
  .guide {
    margin-left: -0.4vw;
    margin-bottom: -0.4vw;
    border: 0.5vw solid black;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 4.8vw;
    display: grid;
    place-content: center;
  }
  .confirm {
    display: grid;
    place-content: center;
    margin-left: -0.4vw;
    border: 0.5vw solid black;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-family: "양진체";
    font-weight: 500;
    font-size: 5vw;
  }
  .confirm div {
    display: flex;
    margin-top: 0.4vw;
    margin-left: 1vw;
  }
  #arrow {
    width: auto;
    height: 8vw;
    margin-left: 1.6vw;
    /* margin-bottom: 0.3vw; */
  }
}
@media screen and (min-width: 481px) {
  body {
    margin: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
  }
  #container {
    display: grid;
    max-width: 1256px;
    width: 162vh;
    aspect-ratio: 8.1 / 5;
    grid-template-columns: 2.3fr 1fr;
    grid-auto-rows: 100vh;
    place-content: center;
  }
  #boxone {
    display: grid;
    grid-template-columns: 1fr 1.28fr;
  }
  .box {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(32, minmax(0, 1fr));
  }
  #lefttop {
    grid-row: 1/16;
    grid-column: 1;
    display: grid;
    grid-template-columns: 5fr 1fr;
  }
  .innerbox {
    grid-column: 1;
    display: grid;
    place-content: center;
    border: 0.4vh solid black;
    border-radius: 5px;
    margin-right: -0.1vh;
  }
  .innerbox .circle {
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    text-align: center;
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 2vh;
  }
  .circle div {
    font-size: 14.2vh;
    font-family: "KoPubWorldBatang";
    font-weight: 300;
    margin-top: 0.8vh;
  }
  #leftbox .column {
    background-color: #d9d9d9;
    border: 0.4vh solid black;
    border-radius: 5px;
    margin-left: -0.1vh;
  }
  #leftbox .itembox {
    grid-row: 16/31;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 0.2vh;
  }
  #leftbox .itembox .items {
    /* border: 0.4vh solid black; */
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  #leftbox .itembox .items .item1 {
    border: 0.4vh solid black;
    border-radius: 5px;
    margin: -0.16vh;
    background-color: #d9d9d9;
  }
  #leftbox .itembox .items .item2 {
    border: 0.4vh solid black;
    margin: -0.16vh;
    border-radius: 5px;
    display: grid;
    place-content: center;
  }
  #leftbox .itembox .items .item2 img {
    width: auto;
    height: 100%;
    max-height: 90px;
    display: absolute;
    /* margin: -1.7vh; */
    filter: grayscale(100%);
  }
  #midbox .itembox {
    grid-row: 1/11;
    grid-column: 1;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
  }
  #midbox .itembox .boxtwo {
    display: grid;
    grid-column: 1;
  }
  .boxtwo .rowblank {
    height: 5.6vh;
    border: 0.4vh solid black;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    margin-left: -0.4vh;
  }
  .boxtwo .items {
    display: grid;
    margin-top: -0.4vh;
    grid-template-columns: 1fr 1.2fr 1.2fr 1.2fr;
  }
  .boxtwo .items .item {
    margin-left: -0.3vh;
    display: grid;
    border-radius: 5px;
    grid-template-rows: repeat(14, minmax(0, 1fr));
  }
  #bottlebox .text {
    grid-row: 1/3;
  }
  #bottlebox .imgbox {
    grid-row: 3/15;
  }
  #winebox .text {
    grid-row: 1/5;
  }
  #winebox .imgbox {
    grid-row: 5/15;
  }
  #beerbox .text {
    grid-row: 1/7;
  }
  #beerbox .imgbox {
    grid-row: 7/15;
  }
  #sojubox .text {
    grid-row: 1/10;
  }
  #sojubox .imgbox {
    grid-row: 10/15;
  }
  .imgbox {
    display: grid;
    place-content: center;
    border: 0.4vh solid black;
    margin-top: -0.4vh;
    border-radius: 5px;
  }
  .imgbox img {
    height: 100%;
  }
  #bottlebox .imgbox img {
    margin-top: 1vh;
    max-height: 157px;
    width: auto;
  }
  #winebox .imgbox img {
    max-height: 107px;
    width: auto;
  }
  #beerbox .imgbox img {
    max-height: 97px;
    width: auto;
  }
  #sojubox .imgbox img {
    margin-top: 1vh;
    max-height: 57px;
    width: auto;
  }
  #midbox .itembox .items .item .text {
    border: 0.4vh solid black;
    border-radius: 5px;
    display: grid;
    place-content: center;
    font-family: "NanumBarunpen";
    font-size: 3vh;
    background-color: #d9d9d9;
  }
  #beerbox .text div {
    margin-top: 3vh;
  }
  #sojubox .text div {
    margin-top: 10vh;
  }
  #midbox .textbox {
    font-size: 2vh;
    background-color: #d9d9d9;
    grid-column: 2;
    border: 0.4vh solid black;
    border-radius: 5px;
    margin-left: -0.3vh;
    display: grid;
    place-content: end;
    justify-content: left;
  }
  .textbox div {
    font-size: 3vh;
    font-family: "Pretendard";
    font-weight: 500;
    padding: 0 1vh;
    padding-bottom: 1vh;
  }
  #title {
    grid-row: 11/23;
    display: grid;
    place-content: center;
    font-family: "양진체";
    font-size: 16vh;
    font-weight: 400;
  }
  #title div {
    margin-top: 4vh;
  }
  #midbottom {
    margin-left: -0.4vh;
    grid-row: 23/31;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
  }
  .warn {
    border: 0.4vh solid black;
    border-radius: 5px;
    font-size: 2vh;
    font-family: "Pretendard";
    font-weight: light;
    display: grid;
    place-content: center;
    text-align: center;
  }
  .confirmbox {
    display: grid;
    grid-template-rows: 1.6fr 1fr;
  }
  .guide {
    margin-left: -0.4vh;
    margin-bottom: -0.4vh;
    border: 0.4vh solid black;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-family: "Pretendard";
    font-weight: 600;
    font-size: 3vh;
    display: grid;
    place-content: center;
  }
  .confirm {
    display: grid;
    place-content: center;
    margin-left: -0.4vh;
    border: 0.4vh solid black;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-family: "양진체";
    font-weight: 500;
    font-size: 3vh;
  }
  .confirm div {
    display: flex;
    margin-top: 0.4vh;
    margin-left: 1vh;
  }
  #arrow {
    width: auto;
    height: 5vh;
    margin-left: 1.6vh;
    /* margin-bottom: 0.3vh; */
  }
  #leftbox .rectangle {
    margin-top: -0.2vh;
    grid-row: 31/33;
    /* height: 5.6vh; */
    border: 0.4vh solid black;
    border-radius: 5px 0 0 5px;
    border-right: 0;
  }
  #midbox .rectangle {
    margin-top: -0.2vh;
    grid-row: 31/33;
    /* height: 5.6vh; */
    border: 0.4vh solid black;
    border-radius: 0 5px 5px 0;
    border-left: 0;
  }
  #rightbox .rectangle {
    margin-left: -0.4vh;
    grid-row: 1/3;
    /* height: 5.6vh; */
    border: 0.4vh solid black;
    border-radius: 0 5px 5px 0;
    border-left: 0;
  }
  .containbox {
    margin-left: -0.4vh;
    margin-top: -0.4vh;
    grid-row: 3/33;
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* background-color: beige; */
  }
  #rightbox .column {
    background-color: #d9d9d9;
    border: 0.4vh solid black;
    border-radius: 5px;
  }
  #rightbottom {
    display: grid;
    grid-template-rows: 1.6fr 1fr;
  }
  .alcholbox {
    border: 0.4vh solid black;
    border-radius: 5px;
    margin-left: -0.4vh;
  }
  #smilebox {
    position: relative;
    z-index: -1;
    margin-top: 0.4vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  .square {
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
    margin: -0.2vh;
  }
  .square2 {
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
    margin: -0.2vh;
    background-color: #d9d9d9;
  }
  .alcholbox .circle {
    position: absolute;
    z-index: -1;
    background-color: #d9d9d9;
    border-radius: 50%;
    height: 32%;
    aspect-ratio: 1;
    margin-top: 1vh;
    margin-left: 1vh;
  }
  .alcholbox .textbox {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1.2fr;
    margin-left: 3vh;
  }
  .alcholbox .textbox .text1 {
    position: absolute;
    font-family: "KoPubWorldBatang";
    font-weight: 500;
    font-size: 7vh;
    margin-left: 3vh;
    margin-top: 8.4vh;
    text-align: right;
  }
  .alcholbox .textbox .text2 {
    position: absolute;
    font-family: "KoPubWorldBatang";
    font-weight: 500;
    font-size: 3vh;
    margin-left: 19.2vh;
    margin-top: 4vh;
  }
  .alcholbox .textbox .text3 {
    font-family: "KoPubWorldBatang";
    font-weight: medium;
    font-size: 700%;
    text-align: right;
    width: 33.6vh;
    margin-top: -2.8vh;
  }
}
