body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.containBox {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle{
  display: flex;
  font-size: 40px;
  /* display: table-cell; */
}

.selectTitle{
  display: flex;
  /* display: table-cell; */
}

.btnBox{
  display: flex;
}

#selectBox{
  margin-top: 18px;
}

#selectBox .bySoju{
  float: right;
  display: flex;
}

#selectBox input{
  margin: 0 5px 0 5px;
  border-radius: 20px;
  border: 2px solid black;
}

#selectBox .byBeer{
  float: right;
  display: flex;
}