body {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  body {
    margin: 0;
    display: grid;
    place-content: center;
    color: black;
  }

  #container {
    display: grid;
  }
  #menubox {
    width: 100vw;
    height: 48vh;
    display: grid;
  }
  #containbox {
    border-radius: 5px;
  }
  .squarebox {
    display: none;
  }
  #backbox {
    height: 4vh;
    grid-row: 4/6;
    grid-column: 1;
    border: 0.6vw solid black;
    border-radius: 5px;
    margin: -0.4vw -0.3vw 0 -0.3vw;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  #backimg {
    grid-row: 6/28;
    grid-column: 1;
    border: 0.6vw solid black;
    border-radius: 5px;
    margin: -0.3vw -0.3vw 0 -0.3vw;
    overflow: hidden;
    display: grid;
    place-content: center;
  }
  #backimg img {
    margin-top: 20vw;
    width: 100vw;
    height: auto;
    filter: grayscale(100%);
  }
  #btnbox {
    height: 4.8vh;
    grid-row: 28/30;
    grid-column: 1;
    margin: -0.2vw -0.1vw 0 -0.1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #btnbox .btn {
    border: 0.6vw solid black;
    border-radius: 5px;
    margin: -0.2vw;
    font-family: "Pretendard";
    font-size: 4.8vw;
    font-weight: bold;
    display: grid;
    place-content: center;
  }
  #btnbox button {
    background-color: #d9d9d9;
  }
  #btnbox button:focus {
    background-color: white;
  }
  #backbox .backbutton {
    grid-column: 1;
    width: 70vw;
    display: flex;
    border: 0;
    background-color: white;
  }
  #backbox .backbutton div {
    display: flex;
    margin-top: 0.4vw;
  }
  #backbox #arrow {
    width: auto;
    height: 6vw;
    margin-bottom: 0.3vw;
  }
  #back {
    font-family: "PTBandocheB";
    font-size: 5vw;
    margin-left: 1vw;
  }
  .columnbox {
    display: none;
  }
  #titlebox {
    display: none;
  }
  #containbox #listbox {
    display: grid;
    margin: 0 6vw;
  }
  #listbox #drinks {
    margin-top: 2vh;
    display: flex;
    grid-template-columns: 1fr;
    overflow-x: scroll;
    grid-gap: 3.2vh;
  }
  #listbox #drinks::-webkit-scrollbar {
    display: none;
  }
  #listbox #drinks .rowbox {
    height: fit-content;
    display: flex;
    place-content: center;
    grid-gap: 3.2vh;
  }
  #listbox #drinks .rowbox .itembox {
    width: 45vw;
  }
  #listbox #drinks .rowbox .itembox .item {
    filter: drop-shadow(0 0.4vh 0.4vh rgb(0, 0, 0, 0.25));
    min-height: 30vh;
    height: fit-content;
  }
  .scriptbox {
    grid-row: 1;
    background-color: #d9d9d9;
    border-radius: 10px;
    min-height: 45.2vh;
    filter: drop-shadow(0 0.4vh 0.4vh rgb(0, 0, 0, 0.25));
    font-family: "Pretendard-Regular";
    display: grid;
    place-content: center;
  }
  .scriptbox .script {
    font-size: 2vh;
    padding: 2vh;
    line-height: 3.7vh;
  }
  #listbox #drinks .rowbox .itembox .item .firstbox {
    position: relative;
    height: 27vh;
    border-bottom: 0.4vh dashed #d9d9d9;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-content: center;
    overflow: hidden;
  }

  #listbox #drinks .rowbox .itembox .item .secondbox {
    display: grid;
    border-top: none;
    border-radius: 10px;
    background-color: white;
    margin-top: -0.3vh;
  }

  #listbox #drinks .rowbox .itembox .plusbox {
    display: grid;
    place-content: center;
    padding: 2vh;
  }
  #listbox #drinks .rowbox .itembox .plusbox .plusbtn {
    border: 0;
    filter: drop-shadow(0 0.4vh 0.2vh rgb(0, 0, 0, 0.25));
    border-radius: 50%;
    background-color: white;
    display: grid;
    place-content: center;
    height: 4vw;
    width: 4vw;
    font-family: "Pretendard-Regular";
    font-size: 4vw;
    padding: 3vw;
  }
  .sojubox,
  .beerbox,
  .whitebox,
  .redbox {
    width: 24vh;
    display: grid;
    place-content: center;
  }

  .flag {
    position: absolute;
    height: 2.8vh;
    width: auto;
    margin: 2vh 0 0 6vw;
  }
  .outcircle {
    border: 0.4vh solid #d9d9d9;
    border-radius: 50%;
    margin-top: 2vh;
    width: 14vh;
    height: 14vh;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: relative;
  }
  .incircle {
    border-radius: 50%;
    width: 12.6vh;
    height: 12.6vh;
  }
  .sojubox .outcircle .incircle {
    background-color: #86abc6;
  }
  .beerbox .outcircle .incircle {
    background-color: #d2b589;
  }
  .whitebox .outcircle .incircle {
    background-color: #c1b6b4;
  }
  .redbox .outcircle .incircle {
    background-color: #954b4a;
  }
  .namebox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.4vh;
    margin: 0 4vw;
  }
  .name1,
  .name2 {
    font-size: 3.6vw;
    font-family: "Pretendard";
    font-weight: bold;
  }
  .name3 {
    font-size: 3.6vw;
    font-family: "NanumBarunpen";
  }
  .name1,
  .name2,
  .name3 {
    width: fit-content;
    height: 6.4vw;
    border-radius: 20vh;
    display: grid;
    place-content: center;
    margin: 0 0.4vh 1vh 0.4vh;
  }
  .name1 {
    box-shadow: 0 0 0 0.4vh #d9d9d9 inset;
    padding: 0 2vh 0 2vh;
  }
  .name2,
  .name3 {
    background-color: #d9d9d9;
    padding: 0 1vh 0 1vh;
  }

  .sojubox .outcircle .drinkImage {
    position: absolute;
    height: 15vh;
    width: auto;
    margin: 5vw 10vw;
  }
  .beerbox .outcircle .drinkImage {
    position: absolute;
    height: 15vh;
    width: auto;
    margin: 5vw 9.2vw;
  }
  .outcircle .drinkImage {
    position: absolute;
    height: 16vh;
    width: auto;
    margin: 3vw -2vw;
  }

  .glassbox {
    margin: 2vw 2vw;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
  }
  .glassbox .glass {
    height: 5.2vh;
    width: auto;
    margin: 0 0.2vh 0 0.2vh;
  }

  .guidetext {
    border-radius: 0 0 10px 10px;
    background-color: #d9d9d9;
    height: fit-content;
    padding: 1vw 0 1vw 0;
    margin-top: 2vh;
    font-size: 4vw;
    display: flex;
    justify-content: center;
  }
  .guidetext .intext {
    font-family: "NanumBarunpen";
  }
  .guidetext .guide {
    font-family: "Pretendard";
    font-weight: 600;
    margin-left: 0.2vh;
  }
}
@media screen and (min-width: 481px) {
  body {
    margin: 0;
    display: flex;
    place-content: center;
    overflow: hidden;
    overflow: auto;
    color: black;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-auto-rows: 100vh;
    max-width: 1256px;
    width: 162vh;
    place-content: center;
  }
  #menubox {
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(32, minmax(0, 1fr));
  }
  #containbox {
    grid-column: 2;
    border-radius: 5px;
  }

  #square1 {
    grid-row: 1/4;
    grid-column: 1;
  }
  .square22 {
    width: 65vh;
    display: flex;
    justify-content: center;
    margin: 0 0 -0.2vh 0;
  }
  .square {
    width: 3.99vh;
    height: 3.99vh;
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
    margin: 0 -0.2vh 0 -0.1vh;
  }
  #square2 {
    grid-row: 30/33;
    margin-top: 0.2vh;
    grid-column: 1;
    background-color: rgb(255, 255, 255);
  }
  #backbox {
    grid-row: 4/6;
    grid-column: 1;
    border: 0.4vh solid black;
    border-radius: 5px;
    margin: -0.4vh -0.3vh 0 -0.3vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  #backimg {
    grid-row: 6/28;
    grid-column: 1;
    border: 0.4vh solid black;
    border-radius: 5px;
    margin: -0.3vh -0.3vh 0 -0.3vh;
    overflow: hidden;
    display: grid;
    place-content: center;
  }
  #backimg img {
    margin-top: -2vh;
    width: 65vh;
    height: auto;
    filter: grayscale(100%);
  }
  #btnbox {
    grid-row: 28/30;
    grid-column: 1;
    margin: -0.2vh -0.1vh 0 -0.1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #btnbox .btn {
    border: 0.4vh solid black;
    border-radius: 5px;
    margin: -0.2vh;
    font-family: "Pretendard";
    font-size: 3vh;
    font-weight: bold;
    display: grid;
    place-content: center;
  }
  #btnbox button {
    background-color: #d9d9d9;
  }
  #btnbox button:focus {
    background-color: white;
  }
  #backbox .backbutton {
    grid-column: 1;
    width: 30vh;
    display: grid;
    place-content: center;
    border: 0;
    background-color: white;
  }
  #backbox .backbutton div {
    display: flex;
    margin-top: 0.4vh;
  }
  #backbox #arrow {
    width: auto;
    height: 4vh;
    margin-bottom: 0.3vh;
  }
  #back {
    font-family: "PTBandocheB";
    font-size: 2.8vh;
    margin-left: 1vh;
  }
  .columnbox {
    grid-column: 2;
    width: 5vh;
    margin-right: -0.4vh;
  }
  .columnbox .square {
    margin-bottom: -0.2vh;
  }

  #containbox {
    display: grid;
    grid-template-rows: repeat(32, minmax(0, 1fr));
    margin-left: -0.4vh;
  }
  #containbox .rowblank {
    grid-row: 1/2;
    grid-column: 1;
    height: 5vh;
    display: flex;
  }
  .rectangle {
    width: 79vh;
    height: 3.99vh;
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
    margin: 0 -0.2vh 0 -0.1vh;
  }
  #containbox #titlebox {
    grid-row: 3/8;
    grid-column: 1;
    display: grid;
    place-content: center;
    position: relative;
    z-index: 1;
  }
  #containbox #titlebox #title {
    display: flex;
    font-family: "양진체";
    margin-top: 7vh;
    font-size: 6vh;
    background-color: white;
    padding: 0 2vh 0 2vh;
  }
  #containbox #titlebox #title #circle {
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 14.4vh;
    height: 14.4vh;
    display: grid;
    place-content: center;
    margin: -3.8vh -0.2vh 0 0;
  }
  #containbox #titlebox #title #circle div {
    margin-top: 1vh;
    text-align: center;
  }
  #containbox #listbox {
    grid-row: 6/33;
    grid-column: 1;
    border: 0.6vh solid #d9d9d9;
    border-radius: 5px;
    margin: -0.3vh 1.2vh 0 1.2vh;
    display: grid;
    grid-template-columns: 1fr;
  }
  #containbox #listbox #blurbox {
    position: relative;
    margin-top: 8vh;
    z-index: 0.5;
    height: 5vh;
  }

  #listbox #drinks {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: -5vh;
    overflow-y: scroll;
  }
  #listbox #drinks::-webkit-scrollbar {
    display: none;
  }
  #listbox #drinks .rowbox {
    margin: 0vh 3.2vh 4vh 3.2vh;
    /* min-height: 60.2vh; */
    height: fit-content;
    /* height: max-content; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.2vh;
  }
  #listbox #drinks .rowbox .itembox .item {
    filter: drop-shadow(0 0.4vh 0.4vh rgb(0, 0, 0, 0.25));
    height: fit-content;
  }
  .scriptbox {
    grid-row: 1;
    background-color: #d9d9d9;
    border-radius: 10px;
    min-height: 45.2vh;
    filter: drop-shadow(0 0.4vh 0.4vh rgb(0, 0, 0, 0.25));
    font-family: "Pretendard-Regular";
    display: grid;
    place-content: center;
  }
  .scriptbox .script {
    font-size: 2vh;
    padding: 2vh;
    line-height: 3.7vh;
  }
  #listbox #drinks .rowbox .itembox .item .firstbox {
    /* grid-row: 1; */
    position: relative;
    height: 31vh;
    border-bottom: 0.4vh dashed #d9d9d9;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
    place-content: center;
    overflow: hidden;
  }

  #listbox #drinks .rowbox .itembox .item .secondbox {
    /* grid-row: 2; */
    display: grid;
    border-top: none;
    border-radius: 10px;
    background-color: white;
    margin-top: -0.3vh;
  }

  #listbox #drinks .rowbox .itembox .plusbox {
    /* grid-row: 2; */
    display: grid;
    place-content: center;
    padding: 2vh;
  }
  #listbox #drinks .rowbox .itembox .plusbox .plusbtn {
    border: 0;
    filter: drop-shadow(0 0.4vh 0.2vh rgb(0, 0, 0, 0.25));
    border-radius: 50%;
    background-color: white;
    display: grid;
    place-content: center;
    height: 4vh;
    width: 4vh;
    font-family: "Pretendard-Regular";
    font-size: 2.2vh;
    padding: 2vh;
  }
  .sojubox {
    width: 24vh;
    display: grid;
    place-content: center;
  }
  .beerbox {
    width: 24vh;
    display: grid;
    place-content: center;
  }
  .whitebox {
    width: 24vh;
    display: grid;
    place-content: center;
  }
  .redbox {
    width: 24vh;
    display: grid;
    place-content: center;
  }
  .flag {
    /* z-index: 1; */
    position: absolute;
    height: 3vh;
    width: auto;
    margin: 1vh 0 0 2vh;
  }
  .outcircle {
    border: 0.4vh solid #d9d9d9;
    border-radius: 50%;
    margin-top: 2vh;
    width: 17vh;
    height: 17vh;
    display: grid;
    place-content: center;
    overflow: hidden;
    position: relative;
  }
  .incircle {
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
  }
  .sojubox .outcircle .incircle {
    background-color: #86abc6;
  }
  .beerbox .outcircle .incircle {
    background-color: #d2b589;
  }
  .whitebox .outcircle .incircle {
    background-color: #c1b6b4;
  }
  .redbox .outcircle .incircle {
    background-color: #954b4a;
  }
  .namebox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.4vh;
  }
  .name1,
  .name2 {
    font-size: 2vh;
    font-family: "Pretendard";
    font-weight: bold;
  }
  .name3 {
    font-size: 2vh;
    font-family: "NanumBarunpen";
  }
  .name1,
  .name2,
  .name3 {
    width: fit-content;
    height: 4vh;
    border-radius: 20vh;
    display: grid;
    place-content: center;
    margin: 0 0.4vh 1vh 0.4vh;
  }
  .name1 {
    box-shadow: 0 0 0 0.4vh #d9d9d9 inset;
    padding: 0 2vh 0 2vh;
  }
  .name2,
  .name3 {
    background-color: #d9d9d9;
    padding: 0 1vh 0 1vh;
  }

  .sojubox .outcircle .drinkImage {
    position: absolute;
    height: 18vh;
    width: auto;
    margin: 2vh 5.4vh;
  }
  .beerbox .outcircle .drinkImage {
    position: absolute;
    height: 18vh;
    width: auto;
    margin: 3vh 5.4vh;
  }
  .outcircle .drinkImage {
    position: absolute;
    height: 20vh;
    width: auto;
    margin: 0.4vh 0 0 -1.6vh;
  }

  .glassbox {
    margin: 2vh 2vh 0 2vh;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    height: fit-content;
  }
  .glassbox .glass {
    height: 5.2vh;
    width: auto;
    margin: 0 0.2vh 0 0.2vh;
  }

  .guidetext {
    border-radius: 0 0 10px 10px;
    background-color: #d9d9d9;
    height: fit-content;
    padding: 1vh 0 1vh 0;
    margin-top: 2vh;
    font-size: 2.2vh;
    display: flex;
    justify-content: center;
  }
  .guidetext .intext {
    font-family: "NanumBarunpen";
  }
  .guidetext .guide {
    font-family: "Pretendard";
    font-weight: 600;
    margin-left: 0.2vh;
  }
}
