body {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  body {
    margin: 0;
    display: flex;
    place-content: center;
    overflow: hidden;
  }
  .container {
    display: grid;
    place-content: center;
    height: 100vh;
    margin-top: -5vh;
  }
  #leftbox .innerbox,
  .rowblank,
  .columnbox {
    display: none;
  }
  #leftbox .itembox {
    display: none;
  }
  #rightbox {
    display: none;
  }
  #midbox {
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(32, minmax(0, 1fr));
    max-width: 1256px;
    width: 100vw;
    height: 76.4vh;
    margin-left: 0.8vw;
    overflow: hidden;
  }
  .box {
    border: 0.6vw solid black;
    margin: -0.25vw;
  }
  #square1 {
    grid-row: 1/4;
    grid-column: 1;
  }
  .square22 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 0 -0.2vw 0;
  }
  .square {
    width: 6.99vw;
    height: 6.99vw;
    border: 0.4vw solid #d9d9d9;
    border-radius: 5px;
    margin: 0 -0.2vw 0 -0.1vw;
  }

  #subtitle {
    grid-row: 4/7;
    grid-column: 1;
    margin: 0 0 -1px 0;
    border-radius: 15px 15px 5px 5px;
    background-color: #d9d9d9;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  #title {
    border-radius: 5px;
    grid-row: 7/20;
    grid-column: 1;
    margin: -2px 0 -1px 0;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
  #selectbox {
    border-radius: 5px;
    grid-row: 20/28;
    grid-column: 1;
    margin: -2px 0 -1px 0;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }

  #confirmbox {
    grid-row: 28/30;
    grid-column: 1;
    margin: -2px 0 0 0;
    border-radius: 5px 5px 15px 15px;
    background-color: #d9d9d9;
  }
  #square2 {
    grid-row: 30/33;
    grid-column: 1;
    background-color: rgb(255, 255, 255);
  }

  #subtitle div {
    text-align: center;
    grid-row: 2/3;
    /* font-family: 'HS-Regular'; */
    font-family: "PTBandocheB";
    /* font-family: '양진체'; */
    font-size: 5.6vw;
    font-weight: bold;
  }
  #title div {
    text-align: center;
    grid-row: 2/3;
    font-family: "양진체";
    font-size: 14vw;
    font-weight: 400;
  }
  #buttonbox {
    margin: -0.3vw;
    grid-row: 1/4;
    /* height: 8.6vw; */
    /* width: 65vw; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 0.4vw solid black; */
  }
  .button {
    margin: -0.2vw;
    text-align: center;
    border-radius: 5px;
    font-family: "Pretendard";
    font-size: 5vw;
    font-weight: 600;
    border: 0.6vw solid black;
    background-color: #d9d9d9;
  }
  .button:focus {
    border-bottom: 0;
    background-color: white;
  }
  #inputbox {
    /* background-color: antiquewhite; */
    grid-row: 6/8;
    display: grid;
    place-content: center;
    /* display: flex; */
    /* width: 65vw; */
  }
  .blank {
    display: flex;
  }
  #bottle {
    border-radius: 20px;
    border: 0;
    width: 22vw;
    height: 8vw;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    background-color: #d9d9d9;
    font-family: "NanumBarunpen";
  }
  #glass {
    border-radius: 20px;
    border: 0;
    width: 22vw;
    height: 8vw;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    background-color: #d9d9d9;
    font-family: "NanumBarunpen";
  }
  #inputbox .text {
    border: 0.2vw solid black;
    border-radius: 50%;
    display: grid;
    place-content: center;
    height: 8vw;
    width: 8vw;
    margin: 0 8px 0 4px;
    font-family: "Pretendard";
    font-size: 4vw;
    font-weight: 800;
  }
  #confirmbox {
    display: grid;
    place-content: center;
  }
  #confirm {
    border: 0;
    /* text-align: right; */
    place-content: end;
    width: 96vw;
    height: 8vw;
    /* font-family: '양진체'; */
    /* font-size: 6vw; */
    background-color: #d9d9d9;
    display: grid;
    place-content: end;
    grid-template-rows: 1fr;
  }
  #confirm div {
    display: flex;
  }
  #confirm #arrowright {
    width: 7.2vw;
    height: auto;
    margin-right: -1vw;
    margin-top: 0.8vw;
    /* margin-bottom: 0.3vw; */
  }
  #btntext {
    font-family: "PTBandocheB";
    font-size: 4.8vw;
    margin-right: 1.6vw;
    margin-top: 2vw;
  }
  #leftbox {
    place-content: end;
    margin-bottom: -0.2vw;
  }
  #leftbox .rowblank {
    display: flex;
  }
  #leftbox #box-top {
    grid-row: 1/2;
    grid-column: 1;
  }
  #leftbox .square {
    display: none;
  }
  #box-top .rectangle1 {
    width: 100vw;
    height: 3.99vh;
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
  }
  #box-top button {
    border: 0;
    height: 3.99vh;
    background-color: white;
  }
  #box-top button div {
    display: flex;
    margin-left: 0.4vh;
  }
  #box-top #arrow {
    width: auto;
    height: 3vh;
  }
  #box-top #back {
    font-family: "PTBandocheB";
    font-size: 2.5vh;
    margin-left: 1vh;
    margin-top: 0.2vh;
  }
}
@media screen and (min-width: 481px) {
  body {
    margin: 0;
    display: flex;
    place-content: center;
    overflow: hidden;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100vh;
    max-width: 1256px;
    width: 162vh;
    place-content: center;
  }
  .containBox {
    border-radius: 4px;
    margin: 0 1px 0 1px;
    display: grid;
    grid-template-rows: repeat(32, minmax(0, 1fr));
  }
  .sideimg {
    height: 100vh;
    width: auto;
  }

  #midbox {
    /* min-width: 504px; */
    width: 65vh;
    overflow: hidden;
    /* width: 73.4vh; */
    /* grid-template-columns: repeat(1, 1fr); */

    /* gap: 1px; */
  }
  .box {
    border: 0.4vh solid black;
    margin: -0.25vh;
  }
  #square1 {
    grid-row: 1/4;
    grid-column: 1;
  }
  .square22 {
    width: 65vh;
    display: flex;
    justify-content: center;
    margin: 0 0 -0.2vh 0;
  }
  .square {
    width: 3.99vh;
    height: 3.99vh;
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
    margin: 0 -0.2vh 0 -0.1vh;
  }

  .squarebox .blockimg {
    width: 65vh;
    height: auto;
  }

  #subtitle {
    grid-row: 4/7;
    grid-column: 1;
    margin: 0 0 -1px 0;
    border-radius: 15px 15px 5px 5px;
    background-color: #d9d9d9;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  #title {
    border-radius: 5px;
    grid-row: 7/20;
    grid-column: 1;
    margin: -2px 0 -1px 0;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
  #selectbox {
    border-radius: 5px;
    grid-row: 20/28;
    grid-column: 1;
    margin: -2px 0 -1px 0;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }

  #confirmbox {
    grid-row: 28/30;
    grid-column: 1;
    margin: -2px 0 0 0;
    border-radius: 5px 5px 15px 15px;
    background-color: #d9d9d9;
  }
  #square2 {
    grid-row: 30/33;
    grid-column: 1;
    background-color: rgb(255, 255, 255);
  }

  #subtitle div {
    text-align: center;
    grid-row: 2/3;
    /* font-family: 'HS-Regular'; */
    font-family: "PTBandocheB";
    /* font-family: '양진체'; */
    font-size: 3.5vh;
    font-weight: 200;
  }
  #title div {
    text-align: center;
    grid-row: 2/3;
    /* font-family: 'HS-Regular'; */
    font-family: "양진체";
    margin-top: 2vh;
    font-size: 8.8vh;
    font-weight: 400;
  }
  #buttonbox {
    margin: -0.3vh;
    grid-row: 1/4;
    /* height: 8.6vh; */
    /* width: 65vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 0.4vh solid black; */
  }
  .button {
    margin: -0.2vh;
    text-align: center;
    border-radius: 5px;
    font-family: "Pretendard";
    font-size: 2.8vh;
    font-weight: 800;
    border: 0.4vh solid black;
    background-color: #d9d9d9;
  }
  .button:focus {
    outline: none;
    border-bottom: 0;
    background-color: white;
  }
  #inputbox {
    /* background-color: antiquewhite; */
    grid-row: 6/8;
    display: grid;
    place-content: center;
    /* display: flex; */
    /* width: 65vh; */
  }
  .blank {
    display: flex;
  }
  #bottle {
    border-radius: 20px;
    border: 0;
    width: 14vh;
    height: 4vh;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    background-color: #d9d9d9;
    font-family: "NanumBarunpen";
  }
  #glass {
    border-radius: 20px;
    border: 0;
    width: 14vh;
    height: 4vh;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    background-color: #d9d9d9;
    font-family: "NanumBarunpen";
  }
  #inputbox .text {
    border: 0.2vh solid black;
    border-radius: 50%;
    display: grid;
    place-content: center;
    height: 4vh;
    width: 4vh;
    margin: 0 8px 0 4px;
    font-family: "Pretendard";
    font-size: 2.2vh;
    font-weight: 800;
  }
  #confirmbox {
    display: grid;
    place-content: center;
  }
  #confirm {
    border: 0;
    /* text-align: right; */
    place-content: end;
    width: 60vh;
    height: 4vh;
    /* font-family: '양진체'; */
    font-family: "PTBandocheB";
    font-size: 2.5vh;
    background-color: #d9d9d9;
    display: grid;
    place-content: end;
    grid-template-rows: 1fr;
  }
  #confirm div {
    display: flex;
  }
  #confirm #arrowright {
    width: auto;
    height: 4vh;
    margin-right: -1vh;
    /* margin-bottom: 0.3vh; */
  }
  #btntext {
    font-family: "PTBandocheB";
    font-size: 2.5vh;
    margin-right: 1vh;
    margin-top: 0.6vh;
  }

  #leftbox {
    margin-right: -0.8vh;
    margin-top: 0.1vh;
  }
  #rightbox {
    margin-top: 0.1vh;
  }

  #leftbox .rowblank {
    display: flex;
  }
  #rightbox .rowblank {
    display: flex;
  }

  #leftbox #box-top {
    grid-row: 1/2;
    grid-column: 1;
  }
  #rightbox #box-top {
    grid-row: 1/2;
    grid-column: 2;
  }

  .rectangle1 {
    width: 38.4vh;
    height: 3.99vh;
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
    /* margin: 0 -0.2vh 0 -0.1vh; */
  }
  #leftbox .rectangle1 button {
    border: 0;
    height: 3.99vh;
    background-color: white;
  }
  #leftbox .rectangle1 button div {
    display: flex;
    margin-left: 0.4vh;
  }
  #leftbox .rectangle1 #arrow {
    width: auto;
    height: 3vh;
    /* margin-bottom: 0.3vh; */
  }
  #leftbox .rectangle1 #back {
    font-family: "PTBandocheB";
    font-size: 2.5vh;
    margin-left: 1vh;
    margin-top: 0.2vh;
  }

  .rectangle2 {
    height: 81.2vh;
    width: 3.99vh;
    border: 0.4vh solid #d9d9d9;
    border-radius: 5px;
  }

  #leftbox .columnbox {
    grid-column: 2;
    width: 5vh;
    margin-left: -0.4vh;
    margin-right: -0.2vh;
  }
  #rightbox .columnbox {
    grid-column: 1;
    width: 5vh;
    margin-left: -0.2vh;
    margin-right: -0.4vh;
  }
  .columnbox .square {
    margin: -0.1vh 0 -0.2vh 0;
  }

  .innerbox {
    border: 0.4vh solid black;
    border-radius: 5px;
    display: grid;
    place-content: center;
  }
  #leftbox .innerbox {
    grid-row: 2/16;
    grid-column: 1;
    margin-top: 1.4vh;
    margin-right: 0.4vh;
  }
  #rightbox .innerbox {
    grid-row: 18/31;
    grid-column: 2;
    margin-top: -0.4vh;
    margin-bottom: -1.4vh;
  }

  .itembox {
    border: 0.4vh solid black;
    border-radius: 5px;
    /* background-color: rgb(173, 106, 106); */
  }
  #leftbox .itembox {
    grid-row: 16/31;
    grid-column: 1;
    margin-right: 0.4vh;
    margin-top: -0.4vh;
    margin-bottom: -1.4vh;
  }
  #rightbox .itembox {
    grid-row: 2/18;
    grid-column: 2;
    margin-top: 1.4vh;
  }

  #leftbox #box-bottom {
    grid-row: 31/33;
    grid-column: 1;
    margin-top: 1.4vh;
  }
  #rightbox #box-bottom {
    grid-row: 31/33;
    grid-column: 2;
    margin-top: 1.4vh;
  }
  .circle {
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 32vh;
    height: 32vh;
    display: grid;
    place-content: center;
    text-align: center;
    font-family: "Pretendard";
    font-weight: light;
    font-size: 2vh;
  }
  #leftbox .itembox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #leftbox .itembox .items {
    display: grid;
    margin: -0.1vh;
  }
  #leftbox .itembox .items .item1 {
    border: 0.4vh solid black;
    margin: -0.1vh;
    border-radius: 5px;
    background-color: #d9d9d9;
  }
  #leftbox .itembox .items .item2 {
    border: 0.4vh solid black;
    margin: -0.1vh;
    border-radius: 5px;
    display: grid;
    place-content: center;
  }
  #rightbox .itembox {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
  }
  #rightbox .itembox .items {
    /* border: 0.4vh solid black; */
    /* margin: -0.2vh; */
    display: grid;
    grid-template-rows: 1.2fr 1.2fr 1.2fr 1fr;
  }
  #rightbox .itembox .items .item {
    margin: -0.2vh;
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  #rightbox .itembox .items .item .text {
    border: 0.4vh solid black;
    margin-right: -0.2vh;
    border-radius: 5px;
  }
  #rightbox .itembox .items .item .imgbox {
    border: 0.4vh solid black;
    margin-left: -0.2vh;
    border-radius: 5px;
  }
  #rightbox .itembox .items .item .text {
    background-color: #d9d9d9;
  }
  #bottlebox .text {
    grid-column: 1/3;
  }
  #bottlebox .imgbox {
    grid-column: 3/12;
  }
  #winebox .text {
    grid-column: 1/4;
  }
  #winebox .imgbox {
    grid-column: 4/12;
  }
  #beerbox .text {
    grid-column: 1/5;
  }
  #beerbox .imgbox {
    grid-column: 5/12;
  }
  #sojubox .text {
    grid-column: 1/8;
  }
  #sojubox .imgbox {
    grid-column: 8/12;
  }
  #rightbox .itembox .textbox {
    border: 0.4vh solid black;
    margin: -0.2vh;
    border-radius: 5px;
    background-color: #d9d9d9;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1.5fr;
  }
  #rightbox .itembox .textbox div {
    grid-row: 4;
    grid-column: 1;
    font-size: 3vh;
    font-family: "Pretendard";
    font-weight: 500;
    display: flex;
    margin-left: 2vh;
  }
  #leftbox .rotate {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: middle;
    transform: rotate(90deg);
    transform-origin: middle;
    font-size: 14vh;
    font-family: "KoPubWorldBatang";
    font-weight: 300;
  }
  #leftbox .itembox .item2 img {
    width: auto;
    height: 3.4vh;
    display: absolute;
    margin: -1.7vh;
    filter: grayscale(100%);
  }
  #rightbox .itembox .items .imgbox {
    display: grid;
    place-content: center;
  }
  #bottlebox .imgbox img {
    height: 12vh;
    width: auto;
  }
  #winebox .imgbox img {
    height: 12vh;
    width: auto;
  }
  #beerbox .imgbox img {
    height: 12vh;
    width: auto;
  }
  #sojubox .imgbox img {
    height: 8vh;
    width: auto;
  }
  #rightbox .rotate {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: middle;
    transform: rotate(-90deg);
    transform-origin: middle;
    font-size: 2vh;
  }
  #rightbox .itembox .items .item .text {
    display: grid;
    place-content: center;
    /* display: flex; */
  }
  #rightbox .itembox .items .item .text div {
    font-family: "NanumBarunpen";
    font-size: 3vh;
  }
  #beerbox .text div {
    margin-left: 4vh;
  }
  #sojubox .text div {
    margin-left: 12vh;
  }
}
